*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a, a:visited, a:hover{
    text-decoration: none;   
}

li{
    list-style: none;
}

/*head*/

.high{
    height: 3rem;
}

.hover-on{
    color: white;
}

.hover-on:hover{
    color: orangered;
}

/*navbar*/

.add{
    background-color: #f71b3e;
    width: 134px;
}

.add:hover{
    background-color: #f76b4e;
}

.back-ground{
    background-color: #fff;
    padding: 3px 5px;
    margin: 0px 5px;
    box-shadow: 0px 0px 4px 1px;
}

.back-ground:hover{
    background-color: #f71b3e;
}

.back-ground:hover .fas, .back-ground:hover .far{
    color: #fff;
}

/*bg-image*/

.bg-image{
    background-image: url(images/back1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.text-hover{
    color: black;
    padding-left: 10px;
    font-weight: 700;
}

.text-hover:hover{
    color: #f71b3e;
}

.margin{
    margin: 8rem 0rem;
}

.box{
    background-color: whitesmoke;
    margin: 0.8rem 0.6rem;
    border: 1px solid black;
    height: 18rem;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center .fas{
    font-size: 4rem;
}

/*contact*/

.bor-der{
    border: 1px solid #dbdbdb;
    padding: 0.8rem 2rem;
    background-color: #fff;
    position: relative;
    top: 5rem;
    z-index: 1;
}

.icon-position{
    top: 10px;
    right: 40px;
}

/*-------------dream home-----------*/

.gap{
    margin: 6rem 0rem -6rem;
    background-color: #f71b3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12rem;
}

.posi-tion{
    position: absolute;
    top: 80px;
    right: 100px;
    width: 15rem;
}

.button-position{
    box-shadow: inset 0px 0px 0px 0px #fff;
    padding: 10px 0px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    border: none;
}

.button-position:hover{
    box-shadow: inset 15rem 0px 0px 0px #000;
    color: #fff;
}

/*----------------footer-----------------*/

.padding{
    padding: 12rem 2rem 0rem;
}

.space{
    color: white;
}

.space:hover{
    color: #f71b3e;
}

.copy-write{
    background-color: #343434;
    height: 3rem;
    display: grid;
    align-items: center;
    padding: 0px 2rem;
}

.terms{
    display: flex;
    justify-content: flex-end;
}

.margin-top{
    margin-top: 0.5rem;
}

.claim{
    padding: 0rem 1rem;
}

/*----------------real estate-------------------------*/

.background{
    background-color: #f1f1f1;
}

.padding-estate{
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.your-house{
    margin-right: 9rem;
    font-weight: 700;
    padding-top: 10px;
    font-size: 3rem;
}

.doler-space{
    border-left: 1px solid black;
    margin: 1rem 0rem 2rem;
    padding-left: 1.7rem;
    margin-right: 6rem;
}

.button-enquire{
    color: white;
    background-color: #ff1d1d;
    padding: 0.8rem 1rem;
    font-size: 20px;
    border: 1px solid #ff1d1d;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.button-enquire::before{
    content: "";
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transform: translatex(-100%);
}

.button-enquire:hover{
    color: black;
}

.button-enquire:hover:before{
    transform: translatex(0%);
    z-index: -1;
}

.video-play{
    margin-left: 2rem;
    color: red;
    background-color: white;
    padding: 1.4rem 1.6rem;
    border-radius: 100%;
    font-size: 22px;
    cursor: pointer;
}

.background-white{
    background-color: #fff;
    margin-top: -7rem;
    padding: 5rem 4rem;
    display: grid;
    align-items: center;
    position: absolute;
    left: 91px;
    right: 150px;
    box-shadow: 0px 0px 8px 0px #b7b7b7;
}

.form-shadow:focus{
    border: 1x solid #000;
    box-shadow: 0px 0px 1px 0px #282828;
}

.button-now{
    color: white;
    background-color: #ff5a3c;
    padding: 0.15rem 1rem;
    font-size: 20px;
    border: 1px solid #ff1d1d;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.button-now::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
    transform: translatey(100%);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.button-now:hover{
    color: black;
   
}

.button-now:hover:before{
    transform: translatey(0%);
    z-index: -1;
}

/*-------------leading-------------------*/

.position-image{
    position: absolute;
    bottom: 4rem;
    left: 0.8rem;
}

.position-icon{
    position: absolute;
    top: 39%;
    left: 39%;
    padding: 25px 33px;
    border: none;
    border-radius: 100%;
    background-color: #fff;
    color: red;
    font-size: 20px;
    box-shadow: 0 0 0 0 #fff;
    transform: scale(1);
    animation-name: icon;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

@keyframes icon{
    0%{
        transform: scale(0.90)
        box-shadow: 0 0 0 0 #fff0;
    }
    
    60%{
        transform: scale(1);
        box-shadow: 0 0 0 10px #ffffff6e;
    }
    
    100%{
        transform: scale(0.90);
        box-shadow: 0 0 0 0 #fff0;
    }
}

.about{
    background-color: #dfd9d9;
    color: red;
    padding: 8px 19px;
    border-radius: 65px;
    border: none;
    font-weight: 500;
}

.rent{
    font-weight: 700;
    margin: 2rem 0rem;
}

.work{
    font-size: 18px;
    color: #6a6464;
    padding-bottom: 2rem;
}

.icon-style{
    background-color: #f5dfdc;
    color: #ff5a3c;
    padding: 10px 13px;
    font-size: 1.4rem;
    margin-right: 1rem;
    border: none;
    border-radius: 100%;
    margin-bottom: 1rem;
}

.minim{
    background-color: rgba(229, 62, 41, 0.05);
    border-left: 4px solid #ff5a3c;
    padding: 2rem 5rem 2rem 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*---------------number----------------------*/

.bg-number{
    background-color: #f5f3f3;
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
}

.text-icon{
    color: #ff5a3c;
}

/*--------------properties-------------------*/

.li-before{
    padding: 8px 0px;
}

.li-before::before{
    content: "";
    width: 15px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: -30px;
}

.li-after{
    padding-right: 1rem;
}

.li-after::after{
    content: "";
    height: 3rem;
    width: 1px;
    background-color: #c3c3c3;
    position: absolute;
    top: 0px;
    right: 0px;
}

.w-image{
    width: 25%;
}

/*----------------service--------------------------*/

.background-service{
    background-color: #ebebeb;
    margin: 8rem 0rem;
    padding: 10rem 0rem
}

.box-shadow{
    box-shadow: 0px 0px 8px 0px;
    padding: 2rem 0rem;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.box-shadow:hover{
/*    border-bottom: 1px solid red;*/
}

.box-shadow::before{
    transform: translatex(-100%);
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    border-bottom: 5px solid #ff7272;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
}

.box-shadow:hover:before{
    transform: translatex(0%);
    z-index: -1;
}

.box-shadow span{
    color: #878787;
    font-weight: 500;
}

.box-shadow:hover span{
    color: #f12d2d;
}

/*----------------feature listning-------------------------------*/

.padding-listing{
    padding-top: 4rem;
    padding-bottom: 3rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.hover-image-box .for-rent img{
    overflow: hidden;
}

.hover-image-box .for-rent img{
    transform: scale(1);
}
.hover-image-box:hover .for-rent img{
    transform: scale(1.2);
    transition: 0.6s;
}

.for-rent{
    overflow: hidden;
}

.rent-badge{
    top: 15px;
    right: 20px;
    background-color: #1ee144;
    color: #efe9e9;
    padding: 5px 12px;
    text-align: center;
    font-weight: 500;
}

.location{
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    padding: 15px 10px;
}

.location-1{
    width: 61%;
}

.location-1 ul li a{
    color: #fff;
}

.location-1 ul li:hover a{
    color: red;
}

.location-2{
    width: 40%;
}

.location-2-camera{
    background-color: #ffffff42;
    padding: 5px 10px;
    margin-right: 0.5rem;
}

.location-2-camera a{
    color: #fff;
}

.location-2-camera:hover a{
    color: red;
}

.backgroun{
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px;
}

.nice-view{
    color: #383737;
}

.nice-view:hover{
    color: red;
}

.likes{
    display: flex;
    padding: 0rem 3rem;
}

.owner{
    width: 30%;
}

.img-13{
    border: none;
    border-radius: 100%;
    width: 100%;
}

.heart{
    padding: 5px 10px;
    background-color: #bbb3b36e;
    cursor: pointer;
    margin: 0rem 0.2rem;
}

.heart:hover{
    color: #fff;
    background-color: #d10505f2;
}

/*-------------------appartment sketch----------------------*/

.sketch{
    background-color: #fbfbfb7d;
    padding: 6rem 0rem;
}

.nav-pills .nav-link{
    color: #071c1f;
}

.nav-pills .nav-link.active{
    color: #ff5a3c;
    background-color: white;
    border-bottom: 2px solid #ff5a3c;
    border-radius: 0px;
    position: relative;
}

.nav-pills .nav-link.active::before{
content: "";
    position: absolute;
    top: 91%;
    left: 46%;
    width: 10px;
    height: 10px;
    background: #ff0000;
    border: 3px solid #fff;
    border-radius: 100%;
}

.the-tech{
    display: flex;
    justify-content: space-around;
}

.studio-plus a{
    padding: 3px 5px;
    color: #463232;
    font-size: 18px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    position: relative;
}

.studio-plus a:focus{
    color: #ff5a3c;
    border-bottom: 2px solid #ff5a3c;
}

.studio-plus a::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: red;
    border: 4px solid #f00;
}

.studio-plus a:focus:before{
    
}

.background-studio{
    padding: 5rem 3rem;
    background-color: #ff5656;
    color: #fdf5f5;
}

.area{
    position: relative;
    padding: 5px 0px;
}

.area::before{
    border: 1px dashed #fff;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    z-index: 1;
    content: '';
}

.area label{
    z-index: 2;
    position: relative;
    background: #ff5656;
    padding: 0 10px 0 0;
}

.area span{
    float: right;
    z-index: 2;
    position: relative;
    background-color: #ff5656;
    padding-left: 10px;
}

/*-----------------attachment----------------------------*/

.attachment{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)),url(images/img15.jpg);
    background-attachment: fixed;
    padding: 9rem 0rem;
}

.center-play{
    color: #f52c2c;
    background-color: white;
    padding: 16px 22px;
    border: none;
    border-radius: 100%;
    font-size: 24px;
    animation-name: icon;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

/*--------------------------aminities----------------------------*/

.aminities{
    padding: 5rem 0rem 3rem;
    margin-bottom: 3rem;
}

.facility{
    background-color: #fff;
    box-shadow: 0px 0px 10px 3px #f3ecec;
    padding: 5rem 2rem;
    border-radius: 12px;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

.facility:hover{
    background-color: #ff5a3c;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

.icon-center{
    color: #ff5a3c;
    background-color: #ffecec;
    padding: 20px;
    border: none;
    border-radius: 100%;
    margin-bottom: 1.5rem;
    font-size: 2.4rem;
}

.facility:hover .icon-center{
    background-color: #fff;
}

.absolute-position{
    padding: 15px 20px;
    background-color: #fff;
    position: absolute;
    bottom: -1.4rem;
    left: 47%;
    box-shadow: 0px 0px 0px 1px #ebebeb;
    border: none;
    border-radius: 100%;
    color: #000;
}

.facility:hover .absolute-position{
    color: #ff1a1a;
}

/*---------------feedback----------------------*/

.feedback{
    padding: 5rem 0rem;
    background-image: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.1)), url(images/back2.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    height: 60vh;
    margin-bottom: 17rem;
}

.clints{
    padding: 3rem 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 6px 2px #f3eaea;
    border: 4px solid transparent;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;    
    
}

.clints:hover{
    
}

.clints::before{
    content: "";
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 4px;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transform: translatex(-100%);
    border-bottom: 4px solid red;
}

.clints:hover:before{
    transform: translatex(0%);
    z-index: -1;
}

.image-16{
    width: 15%;
    border: none;
    border-radius: 100%;
    margin-right: 1rem;
}

/*-----------------News & blogs-------------------------*/

.news-blogs{
    padding: 3rem 0rem 3rem;
}

.blogs{
        box-shadow: 0px 0px 10px 2px #efefef;
}

.image-17-hover:hover img{
    transform: scale(1.2);
}

.image-17-hover img{
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
}

.brilliant{
    padding: 2rem  1rem;
    overflow: hidden;
}



/*------------------------------------------------home-1.html--------------------------------------------------------------*/

/*-------------------navbar-------------------------*/

.btn-listing{
    padding: 0.9rem 3rem;
    margin-left: 3rem;
    color: #fff;
    background: #ff5a3c;
    border: none;
    font-size: 1.2rem;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

.btn-listing:hover{
    background: #f2f6f7;
    color: #000000;
}

/*---------find house------------*/

.find-house-padding{
    padding: 5rem 1rem 0rem
}

.img-container{
    width: 41rem;
    height: 32rem;
    object-fit: cover;
    object-position: center;
}

.your-house span{
    color: #ff5a3c;
}

/*--------leaving space------------------*/

.leaving-space{
    margin: 3rem 0rem 2rem;
    padding: 3rem 0rem 2rem;
}

.card-shadow{
    margin: 1rem 0rem;
    box-shadow: 0px 0px 0px 0px #fff;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    position: relative;
}

.card-shadow:hover{
    box-shadow: 24px 10px 28px 9px #f1f1f1;
    background-color: #fff;
    
}

.card-shadow::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -4px;
    width: 4px;
    height: 0%;
    transition-property: all;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transform: translatey(-50%);
    background-color: #ff5a3c;
}

.card-shadow:hover:before{
    height: 90%;
}

.title-bolder{
    font-weight: bolder;
    color: #000;
    
}

.title-bolder:hover{
    color: #ff5a3c;
}

/*-------------------making space----------------------*/


.making-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 0px;
}

.check-fas{
    padding: 10px;
    color: #ff5a3c;
    background-color: #f5dfdc;
    border: none;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.play-video{
    position: absolute;
    top: 50%;
    right: -4rem;
    z-index: 1000;
    color: #fff;
    border-radius: 100%;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    animation-name: play;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-delay: 0s;
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    padding: 16px 21px 19px 24px;
}

    @keyframes play{
        0%{
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
        }
        
        60%{
            transform: scale(1);
            box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
        }
        
        100%{
            transform: scale(0.95);
            box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
        }
    }

.play-video:hover{
    color: #fff;
}


.blank-role{
    position: relative;
    width: 121%;
    height: 100%;
}

.blank-role::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(images/img22.jpg);
}

/*-----------------main focus--------------------*/

.main-focus{
    padding: 5rem 0rem;
}

/*-------------standards-----------------------*/

.standards{
    background-image: url(images/back3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 7rem;
    height: 94vh;
}

.dream-living{
    color: #fff;
    padding-right: 47rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.standards-content{
    background-color: #fff;
    padding: 2rem 2rem;
    box-shadow: 4px 0px 16px 18px #00000036;
}

.std-content-gap{
    padding: 2rem 2rem 1rem;
}

/*----------------appartment-----------------*/

.appartment-sketch{
    margin-top: 12rem;
}

.background-portion{
    background-color: whitesmoke;
    padding: 5rem 3rem;
}

.area-1{
    position: relative;
    padding: 5px 0px;
}

.area-1::before{
    border: 1px dashed #000;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    z-index: 1;
    content: '';
}

.area-1 label{
    z-index: 2;
    position: relative;
    background: whitesmoke;
    padding: 0 10px 0 0;
}

.area-1 span{
    float: right;
    z-index: 2;
    position: relative;
    background-color: whitesmoke;
    padding-left: 10px;
}

/*------------------------search area--------------------------------*/

.search-area{
    position: relative;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.search-area::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 70%;
    width: 100%;
    background-color: whitesmoke;
    z-index: -1;
}

.search-dream-house{
    color: #000;
    padding-right: 49rem;
    margin: 2rem 0rem 3rem;
    font-weight: bold;
}

.search-property{
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0px 0px 1px 0px;
}

.search-class{
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 4px 18px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
}

.search-content{
    padding: 2rem 0rem 0rem;
}

.search-content-place{
    color: #5c727d;
}

.search-content-place:hover{
    color: #ff5a3c;
}

/*-----------------Avialablity----------------------*/

.availability{
    padding: 3rem 0rem;
    background-color: #f9f9f99e;
}

th, td{
    text-align: center;
    padding: 15px 0px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead{
    border-bottom: 1px solid #a1a1a1bf;
}

/*------------neighbour-------------------------*/

.neighbour{
    background-color: #f2f6f7;
    padding: 4rem 0px;
}

.neighbour-explore{
    padding-right: 44rem;
}

.accordion-button:not(.collapsed){
    color: #000;
    background-color: transparent;
}

.accordion-button::after{
    background-image: url(images/plus.png);
    transform: scale(1.4) !important;
    content: "";
    position: absolute;
    top: 2.3rem;
    right: 1.3rem;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("images/minus.jpg");
}

.accordion-background{
    background-color: transparent;
    border: none;
}

.accordion-icon-gap{
    background-color: #ff5a3c;
    color: #fff;
    padding: 7px 10px;
    margin-right: 1rem;
    font-size: 22px;
}

    /*-------------our aminities--------------------*/

.facility:hover h5{
    color: #fff;
}

.facility:hover .animate-hover{
    color: #fff;
}

/*-----------------testimonial-----------------------*/

.testimonial{
    background-image: url(images/back4.jpg);
    background-position: center;
    background-size: cover;
    padding: 6rem 0rem 3rem;
    height: 70vh;
    margin-bottom: 12rem;
}

.testimonial-image{
    width: 14%;
    margin-right: 1rem;
    border-radius: 100%;
}

.testimonial-user{
    padding: 2rem 2rem;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px;
    margin-top: 5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    position: relative;
    overflow: hidden;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

.testimonial-user::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background-color: #ff8282;
    transform: translatex(-100%);
    border-bottom: 4px solid #ff8282;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
}

.testimonial-user:hover::before{
    transform: translatex(0%);
}

.testimonial-user-person{
    grid-template-columns: auto auto;
}

.testimonial-rating{
    color: #ffb800;
}

.testimonial-rating:hover{
    color: red;
}